{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projects list</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Author</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td class="table-secondary"><a class="badge" href="{{ path('projects_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td class="table-secondary">{{ project.name }}</td>
                <td class="table-secondary">{{ project.description }}</td>
                <td class="table-secondary">{% if project.date %}{{ project.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="table-secondary">{{ project.author }}</td>
                <td class="table-secondary">
                    <ul>
                        <li>
                            <a class="btn btn-dark" href="{{ path('projects_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-dark" href="{{ path('projects_edit', { 'id': project.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-info" href="{{ path('projects_new') }}">Create a new project</a>
        </li>
    </ul>
{% endblock %}
